name: my_zapp_project
description: A sample project for Zapp.run
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  # You can add web-compatible packages here:
  google_fonts: ^6.1.0 

flutter:
  uses-material-design: true
